<%- include('../includes/head.ejs') %>
	</head>
	<body class="bg-normal">
		<%- include('../includes/nav.ejs') %>

			<div class="indexBody mx-4">
				<!-- GIVING MAIN -->

				<main
					id="givingContainer"
					class="bg-light d-flex flex-column text-center w-75 mx-auto mt-3 rounded"
				>
					<h2 class="py-3 bg-black text-white rounded-top">Embrace Christian Church Charity List</h2>

					<!-- CAROUSEL -->
					<div
						id="carouselExampleIndicators"
						class="carousel slide bg-white"
						data-bs-ride="carousel"
					>
						<div class="carousel-indicators">
							<button
								type="button"
								data-bs-target="#carouselExampleIndicators"
								data-bs-slide-to="0"
								class="active"
								aria-current="true"
								aria-label="Slide 1"
							></button>
							<button
								type="button"
								data-bs-target="#carouselExampleIndicators"
								data-bs-slide-to="1"
								aria-label="Slide 2"
							></button>
							<button
								type="button"
								data-bs-target="#carouselExampleIndicators"
								data-bs-slide-to="2"
								aria-label="Slide 3"
							></button>
							<button
								type="button"
								data-bs-target="#carouselExampleIndicators"
								data-bs-slide-to="3"
								aria-label="Slide 4"
							></button>
							<button
								type="button"
								data-bs-target="#carouselExampleIndicators"
								data-bs-slide-to="4"
								aria-label="Slide 5"
							></button>
							<button
								type="button"
								data-bs-target="#carouselExampleIndicators"
								data-bs-slide-to="5"
								aria-label="Slide 6"
							></button>
							<button
								type="button"
								data-bs-target="#carouselExampleIndicators"
								data-bs-slide-to="6"
								aria-label="Slide 7"
							></button>
							<button
								type="button"
								data-bs-target="#carouselExampleIndicators"
								data-bs-slide-to="7"
								aria-label="Slide 8"
							></button>
							<button
								type="button"
								data-bs-target="#carouselExampleIndicators"
								data-bs-slide-to="8"
								aria-label="Slide 9"
							></button>
							<button
								type="button"
								data-bs-target="#carouselExampleIndicators"
								data-bs-slide-to="9"
								aria-label="Slide 10"
							></button>
							<button
								type="button"
								data-bs-target="#carouselExampleIndicators"
								data-bs-slide-to="10"
								aria-label="Slide 11"
							></button>
							<button
								type="button"
								data-bs-target="#carouselExampleIndicators"
								data-bs-slide-to="11"
								aria-label="Slide 0"
							></button>
						</div>
						<div class="carousel-inner">
							<!-- SLIDE 1 -->
							<div class="carousel-item active">
								<div class="logo-box">
									<img
										src="./images/charity-logos/feeding_america.jpg"
										class="d-block logo-center mx-auto"
										alt="Feeding America Tampa Bay"
										width="50%"
										height="auto"
									/>
								</div>
							</div>
							<!-- SLIDE 2 -->
							<div class="carousel-item">
								<div class="logo-box">
									<img
									src="./images/charity-logos/alzheimers.webp"
										class="d-block logo-center mx-auto"
										alt="Alzheimer's Association"
										width="50%"
										height="auto"
									/>
								</div>
							</div>
							<!-- SLIDE 3 -->
							<div class="carousel-item">
								<div class="logo-box">
									<img
									src="./images/charity-logos/sickle_cell.webp"
										class="d-block logo-center mx-auto"
										alt="Sickle Cell Association"
										width="50%"
										height="auto"
									/>
								</div>
							</div>
							<!-- SLIDE 4 -->
							<div class="carousel-item">
								<div class="logo-box">
									<img
									src="./images/charity-logos/ECHO_BrandLogo_Green_Small.png"
										class="d-block logo-center mx-auto"
										alt="ECHO of Brandon"
										width="50%"
										height="auto"
									/>
								</div>
							</div>
							
							<!-- SLIDE 5 -->
							<div class="carousel-item">
								<div class="logo-box">
									<img
									src="./images/charity-svgrepo-com.svg"
										class="d-block logo-center mx-auto"
										alt="the foundation"
										width="50%"
										height="auto"
									/>
								</div>
							</div>
							<!-- SLIDE 6 -->
							<div class="carousel-item">
								<div class="logo-box">
									<img
										src="./images/charity-logos/feeding_america.jpg"
										class="d-block logo-center mx-auto"
										alt="baptist hospital"
										width="50%"
										height="auto"
									/>
								</div>
							</div>
							<!-- SLIDE 7 -->
							<div class="carousel-item">
								<div class="logo-box">
									<img
										src="./images/charity-logos/The-Spring-of-Tampa-Bay-Logo.webp"
										class="d-block logo-center mx-auto"
										alt="The Spring"
										width="50%"
										height="auto"
									/>
								</div>
							</div>
							<!-- SLIDE 8 -->
							<div class="carousel-item">
								<div class="logo-box">
									<img
										src="./images/charity-logos/rahab-s-daughters_processed_883cbb23148462b4f9ada4a75551eb1090f2426a2fc53612413a82e7c09d2d99_logo.png"
										class="d-block logo-center mx-auto"
										alt="rahab's daughter"
										width="50%"
										height="auto"
									/>
								</div>
							</div>
							<!-- SLIDE 9 -->
							<div class="carousel-item">
								<div class="logo-box">
									<img
										src="./images/charity-logos/rahab-s-daughters_processed_883cbb23148462b4f9ada4a75551eb1090f2426a2fc53612413a82e7c09d2d99_logo.png"
										class="d-block logo-center mx-auto"
										alt="fight against human trafficking"
										width="50%"
										height="auto"
									/>
								</div>
							</div>
							<!-- SLIDE 10 -->
							<div class="carousel-item">
								<div class="logo-box">
									<img
										src="./images/charity-logos/uncf__logl_united_negro_college_fund.png"
										class="d-block logo-center mx-auto"
										alt="united negro college fund"
										width="50%"
										height="auto"
									/>
								</div>
							</div>
							<!-- SLIDE 11 -->
							<div class="carousel-item">
								<div class="logo-box">
									<img
										src="./images/charity-logos/St-Jude-Logo.jpg"
										class="d-block logo-center mx-auto"
										alt="st jude hospital"
										width="50%"
										height="auto"
									/>
								</div>
							</div>
							<!-- SLIDE 12 -->
							<div class="carousel-item">
								<div class="logo-box">
									<img
										src="./images/charity-logos/JDRF-Logo.jpg"
										class="d-block logo-center mx-auto"
										alt="juvenile diabetes"
										width="50%"
										height="auto"
									/>
								</div>
							</div>
						</div>

						<!-- END CAROUSEL -->
						<button
							style="filter: invert(1)"
							class="carousel-control-prev"
							type="button"
							data-bs-target="#carouselExampleIndicators"
							data-bs-slide="prev"
						>
							<span
								class="carousel-control-prev-icon"
								aria-hidden="true"
							></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button
							style="filter: invert(1)"
							class="carousel-control-next"
							type="button"
							data-bs-target="#carouselExampleIndicators"
							data-bs-slide="next"
						>
							<span
								class="carousel-control-next-icon"
								aria-hidden="true"
							></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>

					<!-- <ul id="charityList" class="mx-auto py-4">
						<li>Feeding America Tampa Bay</li>
						<li>Alzhemer's Association</li>
						<li>Sickle Cell Association</li>
						<li>ECHO of Brandon</li>
						<li>The Foundation South Florida</li>
						<li>Baptist Hospital</li>
						<li>The Spring of Tampa Bay</li>
						<li>Rahab's Daughters</li>
						<li>Fight Against Human Trafficking</li>
						<li>United Negro College Fund</li>
						<li>St. Jude Children</li>
						<li>Juvenile Diabetes</li>
					</ul> -->
					<div class="d-flex flex-column flex-sm-row bg-black text-white py-2">
						<div class="col-12 col-sm-6">
							<!-- text -->
							<h3 class="">Many more coming soon....</h3>
						</div>
						<div class="col-12 col-sm-6">
							<!-- modal -->
							<h3>dummy text</h3>

							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#charityModal">
								Launch demo modal
							</button>
							
							<!-- Modal -->
							<div class="modal fade" id="charityModal" tabindex="-1" role="dialog" aria-labelledby="charityModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="charityModalLabel">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
									Stuff
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save changes</button>
									</div>
								</div>
								</div>
							</div>
						</div>			
					</div>
						<!-- donate section -->
					<div class="donateSection border-top">
						<h4>Your giving helps support our charity partners</h4>
						<div>
							<div>CashApp</div>
							<div>Paypal</div>
							<div>Giveify</div>
						</div>
					</div>
				</main>

				

						<!-- Button trigger modal -->
						<div class="modal" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Modal body text goes here.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary">Save changes</button>
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
								</div>
							</div>
						</div>
			</div>
		</div>

	<%- include('../includes/end.ejs') %>
