<%- include('../../includes/head.ejs') %>
</head>
<body class="bg-normal">
    <%- include('../../includes/nav.ejs') %>
    <!-- CHURCH PAGE -->
			<div id="aboutChurch" class="pageBody">
				<div class="video-shadow">
				<div class="d-flex flex-column flex-sm-row">
					<div class="about-header d-flex justify-content-center align-items-center">
						<h1>Church Vision</h1>
					</div>
					
					<div class="d-block d-md-none bg-dark">
						<img
						class="image-thumb"
							src="https://images.unsplash.com/photo-1599073472048-578c99bbe801?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
							alt="church"
						/>
					</div>
				</div>
				<section class="card rounded d-flex flex-column mx-auto">
					<!-- <img
						class="card-img-top"
						src="https://images.unsplash.com/photo-1599073472048-578c99bbe801?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
						alt="church house"
					/> -->
					<div class="card-body px-3 px-sm-4 px-md-5 py-4">
						<div class="d-flex flex-column flex-sm-row float-md-start mr-3">
							<!-- <div class="about-header d-flex justify-content-center align-items-center">
								<h1>Church Vision</h1>
							</div> -->
							<img
							class="image-thumb d-none d-md-block"
								src="https://images.unsplash.com/photo-1599073472048-578c99bbe801?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
								alt="church"
							/>
						</div>
						<h3>Embrace Christian Church Vision:</h3>
						<div class="aboutParagraph">
							<p class="text-start text-secondary">
								It is our vision as a christian church minsitry to embrace the
								community based on God's vision and His words which are written
								in the book of life, which translates into the principles which
								we live by from the word of God. We are seeking to reach as many
								lost souls as possible based on our loving, kindness,
								compassion, giving, forgiving so that we all can grow together
								in one accord.
							</p>

							<p class="text-start text-secondary">
								We are currently looking to establish a place of fellowship that
								we can call our own. We currently have our fellowship service at
								libraries and hotel conference rooms which at times we have to
								follow their schedule ir order to reserve space. Due to the
								Covid-19 pandemic, we are currently using the zoom platform for
								our fellowship service.
							</p>

							<p class="text-start text-secondary">
								We are also seeking to establish a christian learning
								environment for our school age students in the near future,
								which is much needed in today's society. Lets not just talk
								about it, let's be about it based on the plans set forth by God.
								Just as God had given Nehemiah the vision to rebuild the broken
								walls in Jerusalem (Nehemiah 2:17, 18 NIV), we too here at
								Embrace Christian Church seek to rebuild a broken world one soul
								at a time. God has placed on our hearts to help the homeless.
								Therefore, we are looking to provide food, clothing, shelter and
								basic needs for the homeless. We are currently helping charity
								organizations (see charity list) that help those in need.
							</p>
						</div>

						<h3>Embrace Christian Church Mission:</h3>
						<div class="aboutParagraph">
							<p class="text-start text-secondary">
								First and foremost, we are all God's people. It is our mission
								here at Embrace Christian Church to teach God's people based on
								the written and spoken words of the bible. It is also our
								mission to encourage everyone to comprehensively teach the word
								of God. Our beliefs are in the power of God through the Father,
								Son and Holy Spirit. Our mission is to help those who stand in
								the needs of physical, emotional and spiritual needs. God has
								placed his people on the earth for their purpose in life so that
								God may be glorified. Therefore, it is our mission to assist all
								God's people to accomplish their purpose in life by the word of
								God. Join us in accomplishing our mission statement that God has
								placed on our hearts. We are a bible based ministry doing the
								will of God.
							</p>
						</div>
					</div>
				</section>
			</div>
			</div>
            <%- include('../../includes/end.ejs') %>