<%- include('../../includes/head.ejs') %>
	</head>
	<body class="bg-normal">
		<%- include('../../includes/nav.ejs') %>

		<!-- <div class="indexBody"> -->
			<!-- PASTOR / CHURCH VISION BUTTONS -->

			<!-- <div class="selectorList d-flex justify-content-center my-5">
				<div class="button-bg">
					<button type="button" id="pastor" class="btn activeLink">
						Pastor
					</button>
					<button type="button" id="church--vision" class="btn notActiveLink">
						Church Vision
					</button>
				</div>
			</div> -->

			<!-- PASTOR PAGE -->
			<div id="aboutPastor" class="pageBody">
				<div class="video-shadow">
				<div class="d-flex flex-column flex-sm-row">
					<div class="about-header d-flex justify-content-center align-items-center">
						<h1>About Pastor Tony</h1>
					</div>
					<div class="d-block d-md-none bg-dark">
						<img class="image-thumb" src="./images/event-images/IMG_0130.jpg" alt="pastor tony and first lady" />
					</div>
				</div>
				<section class="card rounded-0 rounded-bottom d-flex flex-column mx-auto">
					<!-- <div class="py-3 mb-3"> -->
					<!-- <img
						class="card-img-top"
						src="./images/pastor-tony.jpg"
						alt="pastor tony and wife"
					/> -->
					<!-- </div> -->
					<div class="card-body px-3 px-sm-4 px-md-5 py-4">
						<div class="d-flex flex-column flex-sm-row float-md-start mr-3">
							<!-- <div class="about-header d-flex justify-content-center align-items-center">
								<h1>About Pastor Tony</h1>
							</div> -->
							<img class="image-thumb d-none d-md-block" src="./images/event-images/IMG_0130.jpg" alt="pastor tony and first lady" />
						</div>
						<h3 class="">
							Biography Duwayne "Tony" Smith, Pastor of Embrace Christian Church
						</h3>
						<div class="aboutParagraph">
							<p class="text-start text-secondary">
								Duwayne "Tony" Smith entered this world on August 16, 1959, to
								the union of the late Tucker Smith and Bertha Smith. From his
								parent's union, Pastor Tony is the second child of five, three
								brothers and one sister. Tony attended public schools in
								Hillsborough County, graduated June of 1977 from Brandon High
								School, Brandon, Florida. He continued his educational pursuit
								at Hillsborugh Community College (HCC) where he was a member of
								the baseball team from 1977 to 1979 and earned his Associate of
								Arts degree. Pastor Tony continued the studying of God's word at
								Liberty University, Tabernacle Bible College and Seminary wheree
								he earned his Bachelor of Arts degree in the Religious Art.
								Currently, he is working on earning his Master's degree and will
								not stop there!
							</p>

							<p class="text-start text-secondary" data-aos="fade-up">
								During the summer of July 1987, Pastor Tony met his soul mate,
								Fayeshawn Devon Davis. On November 11, 1989, they were joined in
								holy matrimony. The proud parents of three beautiful children:
								Lauren Dione Smith White, Devin Anthony Smith, Destiny Alexis
								Lurline Smith and two grandsons.
							</p>

							<p class="text-start text-secondary" data-aos="fade-up">
								He was introduced to God's word and spiritual teachings at an
								early age, Pastor Tony's first place of worship in God's house
								was Hosley Temple of Tampa, Florida. He continued his thirst for
								knowledge and understanding of God's word and spiritual teaching
								at Hosley Temple C.M.E. until the summer of 1990, Pastor Tony
								joined Allen Chapel A.M.E. Church Plant City, Florida, where his
								wife, Fayeshawn, had been a long-standing member. As his
								knowledge grew, he became very active in the church and served
								as a member of the Trustee board, Steward board, Allen Chapel
								mortgage committee, and Men of Allen spiritual group. In
								addition to serving in various capacities of leadership
								throughout the years, Pastor Tony was involved in a variety on
								ministerial endeavors that prepared him to embrace lost souls
								and minister to the whole individual regardless of challenges or
								limitations
							</p>
						</div>

						<h3 data-aos="fade-up">Professional Journey:</h3>
						<div class="aboutParagraph">
							<p class="text-start text-secondary" data-aos="fade-up">
								Pastor Tony joined the Tampa Police Department in March of 1982
								as a Police Officer. He experienced a very promising career in
								the Police Department, retiring as a Police Corporal/Detective
								in Jusly 2010. Also, he served as a youth mentor for Big
								Brothers/Big Sisters during his time as a Police Detective.
								Pastor Tony is currently employed with Hillsborough County
								Public Schools, assigned as a school security Corporal. He
								started the "Future of Tomorrow" mentoring group as Lithia
								Springs Elementary, Cimino Elementary and Alafia Elementary
								while assigned as a Community Service Officer.
							</p>
						</div>

						<h3 data-aos="fade-up">Beginning of his spiritual calling and journey:</h3>
						<div class="aboutParagraph">
							<p class="text-start text-secondary" data-aos="fade-up">
								During the beginning of 2016, the spirit of the Lord came upon
								Tony and instructed him to start a church ministry, just as the
								Apostle Paul was assigned to do by God. By faith and the trust
								in God, Pastor Tony launched the Embrace Christian Church
								ministry.
							</p>

							<p class="text-start text-secondary" data-aos="fade-up">
								His ultimate desire is to see people fully embrace God's love
								and to walk in victory and the power of our Lord while
								experiencing the fullness of God's promises. Pastor Tony is
								making a difference in the lives of people, members, and our
								community. Both, Pastor Tony, and his Wife, Fayeshawn, are
								following God's word and leading souls to Christ, they are
								blessed by the Holy Spirity in which they are a blessing to
								others.
							</p>
						</div>
					</div>
				</section>
			</div>
		</div>
			
		<!-- </div> -->

<%- include('../../includes/end.ejs') %>
